
button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: purple;
    color: white;
    border-radius: 5px;
    width: 100%;
    padding: 0.25rem 1rem;
}

button:disabled {
    opacity: 0.75;
    cursor: not-allowed;
}