.sidebar {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    height: 90vh;
    text-align: center;
    padding: 1rem 0.75rem;
    border-right: thin solid #ccc;

    p {
        padding: 0.75rem 0.5rem;
        background-color: purple;
        color: white;
        font-size: 0.75rem;
        font-weight: 400;
        cursor: pointer;
        border-radius: 5px;

        &.active {
            background-color: rgb(81, 19, 81);
        }
    }
}