
.footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;

    ul {

        display: flex;
        align-items: center;
        gap: 2rem;

        li {
            list-style: none;
            a {
                color: white;
                text-decoration: none;
                font-size: 0.75rem;
            }
        }
    }
    p {
        color: white;
        font-size: 0.75rem;
    }
}